<% include partials/header.ejs %>

<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>UserID</th>
    </tr>
    <% for (var i=0; i < users.length; i++) { %>
    <tr>
        <td><%= users[i]._id %></td>
        <td><%= users[i].username %></td>
    </tr>
    <% } %>
</table>


<% include partials/footer.ejs %>